extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main 
  .container 
    
  .container.d-flex.flex-row.justify-content-center.w-100.my-3
    .col-3.border.border-1.d-flex.flex-column.align-items-center.justify-content-center
      h4 Sản phẩm bán chạy
    .col-9.border.border-1.d-flex.flex-row.justify-content-center
      +product-grid-main-page(productsFeatured)

  .container.d-flex.flex-row.justify-content-start.w-100.my-3
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-left: -15px; margin-right: -15px">
      <div class="carousel-inner">
        - for (var i = 0; i < layoutProductsCategory.length; i++)
          if layoutProductsCategory[i].status == "active" && i == 0
            .carousel-item.active
              .container.d-flex.flex-row.justify-content-center.w-100.my-3
                .col-3.border.border-1.d-flex.flex-column.align-items-center.justify-content-center
                  h4 #{layoutProductsCategory[i].title}
                .col-9.border.border-1.d-flex.flex-row.justify-content-center.px-0
                  - var count = 0
                  each item in productsCategory 
                    if item.product_category_id == layoutProductsCategory[i]._id.toString() && count < 4
                      - count++
                      .col-3.border.border-1.d-flex.flex-column.align-items-center(style="border-color: #ddd; height: 280px")
                        div.p-2
                          a(href=`/products/detail/${item.slug}`)
                            img(src=item.thumbnail, alt=item.title, style="width: 100%; aspect-ratio: 3/4;")
                        div(style="font-size: 13px; padding: 5px")
                          a(href=`/products/detail/${item.slug}`) #{item.title}
          else if layoutProductsCategory[i].status == "active"
            .carousel-item
              .container.d-flex.flex-row.justify-content-center.w-100.my-3
                .col-3.border.border-1.d-flex.flex-column.align-items-center.justify-content-center
                  h4 #{layoutProductsCategory[i].title}
                .col-9.border.border-1.d-flex.flex-row.justify-content-center.px-0
                  - var count = 0
                  each item in productsCategory 
                    if item.product_category_id == layoutProductsCategory[i]._id.toString() && count < 4
                      - count++
                      .col-3.border.border-1.d-flex.flex-column.align-items-center(style="border-color: #ddd;")
                        div.p-2
                          a(href=`/products/detail/${item.slug}`)
                            img(src=item.thumbnail, alt=item.title, style="width: 100%; aspect-ratio: 3/4;")
                        div(style="font-size: 13px; padding: 5px")
                          a(href=`/products/detail/${item.slug}`) #{item.title}
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev" style="height: 90%; width: 5%; margin-left: 15px; margin-top: 15px">
        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next" style="height: 90%; width: 5%; margin-right: 15px; margin-top: 15px">
        <span class="carousel-control-next-icon" aria-hidden="false"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>

  .container 
    h4(class="my-2") Sản phẩm được đề xuất
      +product-grid(productsNew)

  .container
    


  //- .section-products-featured.my-5
  //-   .container
  //-     .row
  //-       .col-12
  //-         +box-head("Sản phẩm nổi bật")

  //-     //- +product-grid(productsFeatured)


  //- .section-products-new.my-5
  //-   .container
  //-     .row
  //-       .col-12
  //-         +box-head("Sản phẩm mới")

  //-     +product-grid(productsNew)